
body{
    overflow: hidden;
    height: 100vh;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: none;
    overflow: hidden;
}

/* étoiles */
.shooting-star {
    position: absolute;
    width: 5px;
    height: 5px;
    background: rgb(255, 255, 255);
    animation: shooting 5s linear infinite;
    opacity: 0; /* Hide initially */
    pointer-events: none;
    
}

/* Animation for shooting stars */
@keyframes shooting {
    0% {
        opacity: 1; /* Start visible */
        transform: translate(-50%, -50%);
        box-shadow: 0 0 1px 1px white; /* Initial box-shadow for trailing effect */
    }
    100% {
        opacity: 0; /* End invisible */
        transform: translate(-500%, -500%); /* Move off-screen */
        box-shadow: none; /* Remove box-shadow at the end */
    }
}
/* étoiles filantes - trail */

.trail {
    position: absolute;
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #7cd1fc, transparent);
    animation: trailAnimation 20s linear infinite;
    opacity: 1;
}



/* Animation for shooting stars */
@keyframes trailAnimation {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: rotate(315deg) translateX(-9000px);
        opacity: 0;
    }
}

/* Curseur 1 */
.curseur {
  z-index: 999;
  position: fixed;
  background: radial-gradient(circle, #ffffff 10%, transparent 40%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  pointer-events: none;
  animation: shootingStar 2.3s ease-out infinite;
  transform: translate(-50%, -50%);
  opacity: 0;
}


/* Curseur 1 - rond */
@keyframes shootingStar {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.2) rotate(0deg);
    box-shadow: 10px 0 0 #03d1ff;  
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.2) rotate(360deg); /* Rotating back to the initial position */
    box-shadow: 10px 0 0 #ffffff; 
  }
}

/* Planete */

#bigbackground {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-image: url('universe.jpg');
    background-size: cover;
    animation: backgroundScroll 100s linear infinite; /* Adjust duration and timing function as needed */
    
}

@keyframes backgroundScroll {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%; /* Adjust the direction and distance of the movement */
        
    }
}



.cube {
  position: relative;
  width: 500px;
  height: 500px;
  transform-style: preserve-3d;
  animation: rotate 20s linear infinite;
  transition: transform 0.1s ease;
}

.cube div {
  position: absolute;
  width: 500px;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #000000;
  border-radius: 0%; 
}

.front { transform: translateZ(250px); background-image: url('main-planet-1.jpg'); }
.back { transform: translateZ(-250px)  rotateZ(-180deg) rotateZ(0deg); background-image: url('main-planet-3.jpg'); }
.right { transform: rotateY(-90deg) translateZ(250px); background-image: url('main-planet-4.jpg'); }
.left { transform: rotateY(90deg) translateZ(250px); background-image: url('main-planet-2.jpg'); }
.top { transform: rotateX(90deg) translateZ(251px); background-image: url('main-planet-top.jpg'); }
.bottom { transform: rotateX(-90deg) rotateZ(90deg) translateZ(251px) ; background-image: url('main-planet-bottom.jpg'); }

@keyframes rotate {
  0% { transform: rotateY(0deg) ; }
  100% { transform: rotateY(-360deg) ; }
}




/* Menu */
@keyframes borderGradientAnimation {
  0% {
    box-shadow: 0 0 0 1px rgba(0, 186, 248, 0.2), 0 0 0 1px rgba(0, 186, 248, 0.4), 0 0 0 1px rgba(0, 186, 248, 0.6);
  }
  50% {
    box-shadow: 0 0 0 5px rgba(0, 186, 248, 0.2), 0 0 0 3px rgba(0, 186, 248, 0.4), 0 0 0 3px rgba(0, 186, 248, 0.6);
  }
  100% {
    box-shadow: 0 0 0 1px rgba(0, 186, 248, 0.2), 0 0 0 1px rgba(0, 186, 248, 0.4), 0 0 0 1px rgba(0, 186, 248, 0.6);
  }
}

#menu {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: rgba(59, 58, 58, 0.525);
  padding: 30px;
  border-radius: 10px;
  z-index: 9999;
  background-image: url('logo_2.png');
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
  animation: borderGradientAnimation 5s infinite;
}

#menu:hover {
  background-size: 0; /* When menu is hovered, make background size zero to make it disappear */
}



  
  #menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative; 
    overflow: hidden; 
    transition: max-height 1.5s ease, max-width 1.5s ease; 
    max-height: 0; 
    max-width: 0; 
  }
  
  #menu:hover ul {
    max-height: 400px; /* Increased maximum height for better usability */
    max-width: 1800px; /* Adjusted maximum width for better readability */
    padding: 10px; /* Reduced padding for a cleaner layout */
  }

  
  #menu ul li {
    margin-bottom: 20px; /* Increased margin between menu items for better separation */
  }
  
  #menu ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px; /* Reduced font size for better compatibility with smaller screens */
    font-weight: bold;
    position: relative;
    transition: color 0.2s ease-in-out; /* Add a transition for color change */
  }
  
  #menu ul li a:hover {
    color: #9ff4ff; /* Change color on hover */
    animation: textHoverAnimation 4.5s ease-in-out; /* Apply the keyframe animation on hover */
  }
  
  
  /*Under menu line*/
  #menu ul li a::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 100%;
    height: 5px; 
    background-image: linear-gradient(to right, #232067, #03d1ff); 
    background-size: 200%;
    animation: gradientAnimation 5s infinite;
    transition: width 1s ease; /* Reduced transition duration */
  }
  @keyframes gradientAnimation {
    0% {
      background-position: 100% 50%, 100% 0%;
    }
    50% {
      background-position: 0% 50%, 0% 0%;
    }
    100% {
      background-position: 100% 50%, 100% 0%;
    }
  }
  
  #menu ul li a:hover::after {
    width: 0; 
    animation: gradientAnimation 2s linear infinite; 
  }
  
  /* Animation for gradient */
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

